//- Experiences are the molecular unit of the resume. They are what the markdown
    files in the source directory compile in to.
mixin experience(exp)
  +section
    //- Position
    h3.f3.mb2.mb0-p.fw6(id=exp.id)
      if exp.url
        +link(exp.title, exp.url)
      else
        = exp.title
    //- Metadata
    +left-column
      ul.list.ml0.pl0.f5.mt1.fw2
        //- Place of Work
        li.fw5= exp.subtitle
        //- Time
        li
          time(datetime=moment.utc(exp.startDate))= moment.utc(exp.startDate).format(exp.dateFormat || "MMM YYYY")
          if exp.endDate
            | &#032;&ndash;&#032;
            time(datetime=moment.utc(exp.endDate))= moment.utc(exp.endDate).format(exp.dateFormat || "MMM YYYY")
          else if exp.ongoing
            | &#032;&ndash;&#032; Present
        //- Location
        if exp.location
          li= exp.location

    //- Contents
    if exp.contents
      +right-column
        .measure.f5
          != exp.contents
